<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lqr.materialdesigndemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SwipeRefreshLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ListPopupWindowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PopupMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LinearLayoutCompatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecyclerVIewDecorationActivityOne"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecyclerVIewDecorationActivityTwo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecyclerVIewDecorationActivityThree"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ItemTouchHelperActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.TextInputLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.SearchViewActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"/>
        <activity
            android:name=".activity.TransparentToolbarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.PaletteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PaletteActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.TabLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImmersiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CardViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FloatingActionButtonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FakeFabInteractiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Applayout1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Applayout2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Applayout3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Applayout4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Applayout5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Applayout6Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.BehaviorActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.BehaviorActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ObjectAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>